/*Used for adding styles to personal webpage.*/

/*Rules for links = TEXT FOR DIFFERENT TAB HYPERLINKS*/
a {
  color: black;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 25px;
  word-spacing: 20px;
  text-decoration: none;
  font-weight: normal;
}

/*Rules for paragraph bodies*/
p {
  margin-left: 40px;
  margin-right: 50px;
  font-size: 20px;
  text-indent: 40px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: normal;
}

/*Rules for header type #1 = GIANT SARAH BLAND*/
h1 {
  color: lightgray;
  font-family: font-family: Georgia, Times, Times New Roman, serif;
  font-size: 140px;
  position: relative;
  top: 140px;
}

/*Rules for header type #2 = TEXT TO MATCH TAB HYPERLINKS (i.e. Bible verse)*/
h2 {
  color: black;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: auto;
  position: relative;
  bottom: 37px;
}

/*Rules for header type #3 = HEADERS ON DIFFERENT TABS*/
h3 {
  color: black;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 30px;
  margin-left: 40px;
}

/*Rules for header*/
.header {
  position: relative;
  top: 20px;
  color: black;
  text-align: center;
  margin: auto;
}

/*Rules for hero block*/
.hero {
  background-image: url('../images/backgroundFlowers.jpg');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 630px;
  height: 600px;
  margin: auto;
  background-size: contain;
  position: relative;
  bottom: 57px;
}
