/*Used for adding styles to personal webpage.*/

/*Rules for any images*/
img {
  max-width: 100%;
  height: 300px;
  display: block;
}

/*Rules for links*/
a {
  color: steelblue;
  font-family:
  font-size: 150px;
}

/*Rules for header type #1*/
h1 {
  color: black;
  font-family: sans-serif;
  height: 300px;
}

h2 {
  color: black;
  font-family: sans-serif;
  height: 200px;
}

h2 {
  color: black;
  font-family: sans-serif;
  height: 100px;
}

/*WAIT... DO I EVEN HAVE A HEADER?*/
/*Rules for header*/
.header {
  background: whitesmoke;
  color: steelblue;
}

/*Rules for hero block*/
.hero {
  /*Use terminal directory commands to get one spot out of current directory to access image*/
  background: url('../headShot.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  /*cover used to cover entire space*/
  background-position: center;
  /*position usd to center no matter what device is being used */
}
